---
page_title: "Provider: EchoStream"
description: |-
  The EchoStream provider allows for creation and management of resources in an EchoStream Tenant.
---

# {{ .ProviderShortName | upper }} Provider

The EchoStream provider allows for creation and management of resources within an EchoStream Tenant.

> Note - The EchoStream [Tenant](https://docs.echo.stream/docs/tenants) must already exist and must have an
> [ApiUser](https://docs.echo.stream/docs/api-users) with `admin` rights prior to Terraforming the Tenant. 
> These may be created using the [EchoStream UI](https://app.echo.stream).

Once you have created your Tenant and ApiUser, capture the following attributes of the Tenant and the ApiUser. These will be used to configure your provider:
| Resource | Value |
| - | - |
| Tenant | Name |
| ApiUser | GraphQL Appsync Endpoint |
| | Client Id |
| | Username |
| | Password |
| | User Pool Id|

## Environment Variables

The provider supports passing the values above either directly within the provider schema or as environment variables. You may mix/match attributes in either the schema or the environment, with the schema taking precedence. The table below details the mapping:
| Schema | Environment |
| - | - |
| appsync_endpoint | ECHOSTREAM_APPSYNC_ENDPOINT |
| client_id | ECHOSTREAM_CLIENT_ID |
| password | ECHOSTREAM_PASSWORD |
| tenant | ECHOSTREAM_TENANT |
| username | ECHOSTREAM_USERNAME |
| user_pool_id | ECHOSTREAM_USER_POOL_ID |

## Example Usage
{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}